@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
	font-family: "Roboto", sans-serif;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:disabled {
	@apply cursor-not-allowed;
}

/* custom class */
.btn {
	@apply text-white px-3 py-2 rounded-lg hover:opacity-75;
}
.input {
	@apply border border-gray-400 rounded-md px-3 py-1 w-full;
}
.label {
	@apply hp:w-1/6 flex gap-1 hp:gap-0 hp:justify-between font-medium;
}
.labelInput {
	@apply flex flex-col hp:flex-row hp:items-center justify-between hp:gap-2 my-2;
}
.labelText {
	@apply flex flex-col hp:flex-row hp:items-start justify-between hp:gap-2 my-2;
}
.page {
	@apply rounded-lg shadowAll p-5 md:px-10 mt-2 mb-5 lg:mt-0 md:mb-10 text-sm;
}
.select {
	@apply border border-gray-400 rounded-md px-3 py-2 w-full text-sm bg-white;
}
.shadowAll {
	-webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
}

/* custom elements */
h2 {
	@apply font-bold text-2xl;
}
h3 {
	@apply font-bold text-xl mb-5 text-center;
}
h4 {
	@apply font-bold text-lg;
}
h5 {
	@apply font-bold text-base;
}
